.form-dialog {
    position: absolute;
}

.dialog-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    opacity: .4;
}


.dialog {
    position: fixed;
    width: 650px;
    height: 500px   ;
    background-color: #ffffff;
    top: calc(50% - 290px);
    left: calc(50% - 300px);
    border-radius: 5px;
    border: 5px solid #0072bc;
}

    .dialog .dialog-titlebar {
        color: #ffffff;
        width: 100%;
        background-color: #0072bc;
        height: 30px;
    }

        .dialog .dialog-titlebar .title {
            float: left;
            line-height: 25px;
            padding-left: 4px;
        }

        .dialog .dialog-titlebar .btn-close {
            position: absolute;
            top: 5px;
            right: 5px;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            cursor: pointer;
            background-image: url('../../content/images/close-icon.png');
        }

    .dialog .dialog-body {
        width: 100%;
    }

.dialog-body label {
    display: inline-block;
    width: 125px;
}
.dialog-body .row{
    margin: 7px;
}


.dialog .dialog-footer {
    display: flex;
    padding: 8px;
    position: absolute;
    bottom: 9px;
    left: 0;
    right: 0;
    height: 20px;
}

.dialog .dialog-footer .footer-left{
    position:absolute;
    left: 5px;
}

    .dialog .dialog-footer .footer-right {
        position: absolute;
        right: 13px;
    }

.small-input {
    height: 20px;
    width: 123px;
}

.small-select {
    height: 25px;
    width: 123px;
}


.avg-input {
    width: 317px;
    height: 20px;
}

.avg-select {
    width: 308px;
    height: 25px;
    margin-left: -62px;
}

.large-input {
    width: 497px;
    height: 20px;
}

.large-select {
    width: 503px;
    height: 25px;
}

#txtNote {
    height: 40px;
}

#dtBirthday {
    width: 123px;
    height: 25px;
}

#slGender {
    margin-left: -65px;
    border: 1px solid #d9d9d9;
    width: 129px;
    height: 25px;
}

#dtGivenDate {
    margin-left: -65px;
    height: 25px;
}

#txtDebitNumber {
    width: 121px;
}

#txtSalary {
    width: 301px;
    margin-left: -63px;
}

.row input {
    border: 1px solid #d9d9d9;
}

.row select {
    border: 1px solid #d9d9d9;
}

    .row input:focus {
        outline: none !important;
        border: 1px solid #719ECE;
        box-shadow: 0 0 10px #0072bc;
    }

.required-error{
    border: 1px solid #ff0000 !important;
}

.two-in-a-line-input {
    margin-right: 14px;
}

.img-note {
    text-align: center;
    margin-top: 3%;
}

.general-info h4 {
    margin-top: -5px;
    border-bottom: 1px solid #d9d9d9;
}

.work-info h4 {
    margin-top: 12px;
    border-bottom: 1px solid #d9d9d9;
}

.dialog .upload-control {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 142px;
    height: 40px;
    bottom: 315px;
    right: 19px;
}

    .dialog .upload-control button, .choose-file {
        display: flex;
        align-items: center;
        height: 50%;
        width: 35px;
        border: 1px solid #ccc;
        outline: none;
        font-size: 20px;
        border-radius: unset;
    }

        .dialog .upload-control button:hover, .choose-file:hover {
            background-color: white;
            border-color: #0973B9;
            cursor: pointer;
        }

.upload-control .choose-file {
    width: 24px;
    height: 8px;
    background-color: #efefef;
    padding-bottom: 10px;
    padding-left: 8px;
    position: absolute;
    top: 95%;
    right: 55%;
}

.upload-control button.delete-avatar {
    color: red;
    font-weight: bold;
    padding-left: 10px;
    padding-top: 2px;
    position: absolute;
    top: 95%;
    right: 23%;
}

.image-info {
    position: absolute;
    top: 43%;
    right: 5%;
}

.avatar-upload img {
    position: absolute;
    top: 13%;
    right: 3%;
    width: 150px;
    height: 150px;
}