.form-dialog {
    position: absolute;
}

.dialog-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    opacity: .4;
}


.dialog {
    position: fixed;
    width: 650px;
    height: 600px   ;
    background-color: #ffffff;
    top: calc(50% - 290px);
    left: calc(50% - 300px);
    border-radius: 5px;
    border: 5px solid #0072bc;
}

    .dialog .dialog-titlebar {
        color: #ffffff;
        width: 100%;
        background-color: #0072bc;
        height: 30px;
    }

        .dialog .dialog-titlebar .title {
            float: left;
            line-height: 25px;
            padding-left: 4px;
        }

        .dialog .dialog-titlebar .btn-close {
            position: absolute;
            top: 5px;
            right: 5px;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            cursor: pointer;
            background-image: url('../../content/images/close-icon.png');
        }

    .dialog .dialog-body {
        width: 100%;
    }

.dialog-body label {
    display: inline-block;
    width: 125px;
}
.dialog-body .row{
    margin: 7px;
}


.dialog .dialog-footer {
    display: flex;
    padding: 8px;
    position: absolute;
    bottom: 9px;
    left: 0;
    right: 0;
    height: 20px;
}

.dialog .dialog-footer .footer-left{
    position:absolute;
    left:15px;
}

    .dialog .dialog-footer .footer-right {
        position: absolute;
        right: 9px;
    }

.small-input {
    height: 20px;
    width: 123px;
}

.small-select {
    height: 25px;
    width: 123px;
}


.avg-input {
    width: 317px;
    height: 20px;
}

.avg-select {
    width: 308px;
    height: 25px;
    margin-left: -65px;
}

.large-input {
    width: 492px;
    height: 20px;
}

.large-select {
    width: 501px;
    height: 25px;
}

#txtNote {
    height: 40px;
}

#dtBirthday {
    width: 123px;
    height: 25px;
}

#slGender {
    margin-left: -65px;
    border: 1px solid #d9d9d9;
    width: 129px;
}

#dtGivenDate {
    margin-left: -65px;
}

#txtDebitNumber {
    width: 121px;
}

#txtSalary {
    width: 301px;
    margin-left: -65px;
}

.row input {
    border: 1px solid #d9d9d9;
}

.row select {
    border: 1px solid #d9d9d9;
}

    .row input:focus {
        outline: none !important;
        border: 1px solid #719ECE;
        box-shadow: 0 0 10px #0072bc;
    }

.required-error{
    border: 1px solid #ff0000 !important;
}

.two-in-a-line-input {
    margin-right: 14px;
}

.avatar-picture {
    position: absolute;
    right: 13%;
    top: 28%;
}

.ava-img {
    width: 150px;
    height: 140px;
    border: 1px solid #808080;
}

.general-info h4 {
    margin-top: -5px;
    border-bottom: 1px solid #d9d9d9;
}

.work-info h4 {
    margin-top: 12px;
    border-bottom: 1px solid #d9d9d9;
}