.grid {
    width: 100%;
    height: 680px;
    border: 1px solid #ccc;
    border-top: none;
    overflow-y: auto;
}

table {
    border: none;
    border-collapse: collapse;
    border-color: #ccc;
    height: calc(100% - 28px);
}

    table thead {
        border-top: none;
        background: #ededed;
    }

        table thead th {
            font-weight: normal;
            height: 30px;
            width: 10%;
            align-items: center;
            text-align: center;
        }

    table tr td {
        padding: 2px 4px;
        border: 1px solid #ccc;
        max-height: 23px;
        height: 23px;
        align-items: center;
        max-width: 0px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    table tbody tr:hover {
        background-color: #bfd1fe;
        cursor : pointer;
    }

    table tbody tr.row-selected {
        background-color: #a4befc;
    }

    .search-input {
        width: 100%;
        border-color: #ccc;
        min-width: 6.5rem;
    }

        .search-input:focus {
            outline: none;
            /*border: 1px solid #719ECE;*/
        }
