.grid-footer {
    height: 25px;
    width: 100%;
    display: flex;
    min-width: 870px;
    align-items: center;
    justify-items: center;
    border-top: 1px solid #939292;
    border-bottom: 1px solid #939292;
}

.grid-footer .change-page {
    height: 100%;
    width: 50%;
    display: flex;
}

.change-page .btn:hover {
    cursor: pointer;
}

.change-page .btnFirstPage {
    width: 30px;
    background-image: url('/content/images/grid/page-first.png');
    background-repeat: no-repeat;
    background-position: center;
}

.change-page .btnPrePage {
    width: 30px;
    background-image: url('../../content/images/grid/page-prev.png');
    background-repeat: no-repeat;
    background-position: center;
}

.change-page .btn-break {
    height: 60%;
    border-left: 1px solid #b6b5b5;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 15px;
}

.change-page input {
    margin-top: 1px;
    width: 30px;
    height: 16px;
}

.change-page span {
    margin-left: 5px;
    margin-right: 10px;
}

.change-page .btnNextPage {
    width: 30px;
    background-image: url('../../content/images/grid/page-next.png');
    background-repeat: no-repeat;
    background-position: 8px 4px;
}

.change-page .btnEndPage {
    width: 30px;
    background-image: url('../../content/images/grid/page-last.png');
    background-repeat: no-repeat;
    background-position: 8px 4px;
}

.change-page .btnReload {
    height: 90%;
    width: 25px;
    background-image: url('../../content/images/grid/refresh.png');
    background-repeat: no-repeat;
    background-position: 4px 4px;
}

.select-number-row select {
    width: 50px;
    height: 22px;
    margin-top: 1px;
    margin-left: 25px;
}

.grid-footer .info-page-number {
    height: 100%;
    width: 50%;
    text-align: right;
    padding-right: 15px;
    padding-top: 5px;
}
